.header{
    background-image: url("../../../public/img/header.svg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.header h1{
    line-height: .7;
    font-weight: 700;
    font-size: calc(2.75rem + 1.5vw);
}

.header small{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}